 
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Add new {{content.type}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
<!-- Modal Body -->
<div class="modal-body">
    <form>
        <!-- {% for key in content['keys'] %}
            <div class="form-group">
                <label for="{{ key }}">{{ key }}</label>
                <input type="text" class="form-control" id="{{ key }}" name="{{ key }}">
            </div>
        {% endfor %} -->


        {% for key in content['keys'] %}
            <div class="form-group">
                <label for="{{ key }}">{{ key }}</label>

        {% if 'date' in key.lower() %}
            <input type="date" class="form-control" id="{{ key }}" name="{{ key }}">
            {% elif 'status' in key.lower() %}
                <select class="form-control" id="{{ key }}" name="{{ key }}">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            {% else %}
            <input type="text" class="form-control" id="{{ key }}" name="{{ key }}">
        {% endif %}
    </div>
        {% endfor %}

    </form>
  </div>
  
  
        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  